<h2>View Billing Details</h2>

<hr class="col-md-10 col-md-offset-1"></hr>

</br>
<ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Profile", user_path(current_user) %></li>
    <li role="presentation"><%= link_to "Payment", edit_payment_profile_path(current_user.payment_profile.id), 'data-turbolinks': "false" %></li>
    <li role="presentation" class="active"><%= link_to "Billing", payment_profile_path(current_user.payment_profile.id) %></li>
</ul>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <h2 class="text-center"></h2>
    <br/>
    <% if @payment_profile.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@payment_profile.errors.count, "error") %> occurred:</h2>
        <ul>
        <% @payment_profile.errors.full_messages.each do |message, | %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>

      <h3 class="text-center" style="letter-spacing: 4px;"><!-- Charges --></h3>
        <table>
          <tr style="letter-spacing: 2px; text-shadow: 1px 1px #000000;">
            <th class="charges">Amount</th>
            <th class="charges">Card Number</th>
            <th class="charges">Date Of Charge</th>
          </tr>
          <% @charges.each do |s| %>
              <tr>
                <td><%= Money.new(s.amount, s.currency).format %></td>
                <td>(last digits) <%= s.source.last4 %></td>
                <td><%= DateTime.strptime(s.created.to_s,'%s').to_date %></td>
              </tr>
          <% end %>
        </table>
    </p>

    <p>
      <h3 class="text-center" style="letter-spacing: 4px;"><!-- Invoices --></h3>

        <table>
          <tr style="letter-spacing: 2px; text-shadow: 1px 1px #000000;">
            <th class="invoices">Amount Due</th>
            <th class="invoices">Date Of Invoice</th>
          </tr>

          <% @invoices.each do |s| %>
              <tr>
                <td><%= Money.new(s.total, s.currency).format %></td>
                <td><%= DateTime.strptime(s.date.to_s,'%s').to_date %></td>
              </tr>
          <% end %>
        </table>
    </p>

  </div>

</div>
