<!DOCTYPE html>
<html>
  <head>
    <title>WebsiteTemplate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div id="">
      <div id="page-wrapper">
        <%= render 'layouts/dashboard_header' %>
        <%= render 'layouts/flash_messages' %>
        <%= yield %>

        <% if current_user %>
          <%= render 'layouts/chat_box' %>
        <% end %>

        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
